/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.footer {
	position: relative;
 	padding: 10vmax 6vmax;
 	text-align: center;
 	color: #e7e0de;
 	background-color: #2980b9;
}

.footer__figure {
	position: absolute;
	bottom: 99%;
	left: 0;
	width: 30vh;
	height: 30vh;
	background: url('https://dl.dropboxusercontent.com/s/zqfrbqmloeadz0a/figura-2.png?dl=0') no-repeat center center/cover;
}

.footer__copyright { font-size: 5vmin; }

@media (min-width: 768px) {

	.footer {
		position: relative;
		padding: 5vmax;
	}

	.footer__copyright { font-size: 2vh; }
}

@media (min-width: 768px) and (max-width: 1199px) {

	.footer__figure { background: url('https://dl.dropboxusercontent.com/s/e7k5ashhgt2ls36/figura-2-768w.png?dl=0') no-repeat center center/cover; }
}

@media (min-width: 1200px) {

	.footer__figure { background: url('https://dl.dropboxusercontent.com/s/jgg926mj2spkdm5/figura-2-1200w.png?dl=0') no-repeat center center/cover; }
}