/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.header {
	padding: 2vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background-color: #16a085;
}

.header__logo {
	width: 20vmax;
	height: 20vmax;
}


/* Media Queries
 =============================================================*/
@media (min-width: 768px) {

	.header {
		position: relative;
		-webkit-box-pack: end;
		-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		        justify-content: flex-end;
		height: auto;
		padding: 0;
		background-color: #e7e0de;	
	}

	.header__logo {
		position: absolute;
		left: 5%;
		top: 5vh;
		width: 17vh;
		height: 17vh;
	}
}