/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.header {
	background-color: #1abc9c;
	text-align: center;
	padding: 2vh;
}

.header__logo {
	width: 20vmax;
	height: 20vmax;
}