/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

.main {
	height: 100vmax;
	padding-top: 10vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.main__contain {
	width: 95vmin;
	height: 95vmin;
	overflow: hidden;

	box-shadow: 0px 0px 10px 2px #222;

	background-image: url('../img/grapes.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;

	border-radius: 50%;
}


.main__color {
	height: 100%;
	width: 100%;
	padding: 4vmin;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: rgba(22, 160, 133,.4);
}

.main__title {
	color: #e7e0de;
	text-shadow: 1px 1px 2px #222,
	           	-1px -1px 2px #222;
  text-align: center;
  font-size: 4vh;
}


.main__contain-2 {
	width: 95vmin;
	height: 60vmax;
	overflow: hidden;

	box-shadow: 0px 0px 10px 2px #222;

	border-radius: 0 15vh 0 15vh/0 15vh 0 15vh;
}


.main__color-2 {
	height: 100%;
	padding: 4vh;
	background-color: #bdc3c7;
}

.main__title-2 { 
	margin: 0;
	margin-bottom: 2vh;
	font-size: 4vmax;
	text-align: center; 
	color: #111;
}


.main__text { 
	font-size: 5.1vmin; 
	color: #111;
}

@media (min-width: 768px) {

	.main {
		height: 85vh;
		padding-top: 0;
		justify-content: center;
		border-radius: 0 35vw 0 0/ 0 35vw 0 0;
		background-position: center bottom;
	}

	.main__contain {
		width: 80vmin;
		height: 80vmin;
	}

	.main__title {
	  font-size: 6vmin;
	}

	.main__contain-2 {
		width: 65%;
		height: auto;
	}

	.main__title-2 {
		font-size: 3vmax;
	}

	.main__color-2 {
		padding: 5vh 5vh 6.5vh;
	}

	.main__text {
		font-size: 4vmin;
	}
}