/**
 * Convencion de nomenclatura: BEM - Block Elemen Modifier;
 *
 * Normas:
 * Las propiedades CSS se ordenaran en funcion de la formula PC-TV
 *  Posicionamiento - propiedades de posicionamiento
 *  Caja - propiedades de modelo de caja
 *  Texto - propiedades texto
 *  Visual - propiedades visuales
 */

/*	General Styles
===========================================================*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	outline: 0;
}

html {
	font: 16px sans-serif;
	color: #e7e0de;
}

body { 
	background-color: #e7e0de;
	overflow-x: hidden;
}

.scroll-off { overflow-y: hidden; }

header,
nav,
main,
footer { display: block; }

@media (min-width: 768px) {

	body { background: linear-gradient(to right,#e7e0de 40%,#16a085 40%); }
}